# Project exclude paths
.gradle
.idea
build
gradlew
gradlew.bat
old.mwb
prolog.mwb
prolog.mwb.bak
src/main/java/com/velheor/internship/Main.java
logs
mysql-data
src/main/resources/GeneratedTestUsers.xml
src/test/resources/GeneratedTestUsers.xml