# Project exclude paths
/.idea/
/.gradle/
/build/
/build/classes/java/main/
gradlew.bat
gradlew
settings.gradle
resources/application.properties
gradle-wrapper.jar
gradle-wrapper.properties
manifest.mf
raccoontruck.mwb
raccoontruck.mwb.bak
controllers-1.0-snapshot.jar
models-1.0-snapshot.jar
repository-1.0-snapshot.jar